.user-profile-container {
  display: grid;
  background-color: white;
  margin: 3em 1em;
  border: 1px solid #000000;
  border-radius: 15px;
}

.user-profile-upper {
  margin: 2em 1em;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  align-items: center;
}

.user-profile-upper-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.9fr 0.1fr;
  align-items: center;
  text-align: left;
}

#user-profile-upper-item-btn {
  display: grid;
  gap: 0.5em;
}

.user-profile-upper-item button {
  background: #7583ff;
  border-radius: 5px;
  border: 0;
  font-size: 0.8em;
  width: 100%;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 0.6em 0.1em;
  max-width: 15em;
}

.user-profile-upper-item h5 {
  font-size: 0.9em;
  display: flex;
  margin: 0.5em auto;
  line-height: 1em;
}
.user-profile-upper-item a {
  font-size: 0.85em;
  text-align: left;
  color: blue;
  line-height: 1em;
  display: flex;
  gap: 0.2em;
  align-items: center;
}

.user-profile-mid {
  margin: 0em 1.2em;
}

.user-profile-mid h4 {
  text-align: left;
  margin: 0;
}

#info-icon {
  padding-left: 0.2em;
}

.info-parent {
  position: relative;
  display: inline-block;
}

#info-text {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 12em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1em 1.2em;
  z-index: 2;
  font-size: 1.2em;
  right: 0.1em;
  animation: fadeIn 800ms;
  line-height: 1.5em;
  color: black;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.info-parent:hover #info-text {
  display: block;
}

.user-profile-mid p {
  text-align: left;
  font-size: 0.95em;
}
.user-profile-mid p a {
  color: blue;
}

.user-profile-interchange {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  justify-content: center;
}

.user-profile-interchange button {
  font-size: 1.6em;
  border: 0;
  margin: 1em;
  background: #f0f0f0;
}
#user-profile-interchange-selected-btn {
  background: #bdff00;
  transition: 300ms;
}

.user-profile-visualization {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  align-items: center;
  margin-bottom: 1.5em;
}

.user-profile-visualization h4,
.user-profile-visualization h6,
.user-profile-visualization p {
  line-height: 1em;
  margin: 0.3em 0;
  text-align: left;
}

.user-profile-visualization h4 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0;
}

.user-profile-visualization h6 {
  font-size: 1em;
  font-weight: 400;
}
.user-profile-visualization p {
  font-size: 0.7em;
  color: #8a8a8a;
}

.user-profile-vertical-line {
  width: 1px;
  height: 4em;
  background-color: #b4b4b4;
  margin: 0.5em auto;
  z-index: 10;
}

.user-profile-professions {
  margin-bottom: 2em;
}

.user-profile-professions h3 {
  font-weight: 400;
  text-align: left;
  padding-left: 1em;
  font-size: 1.5em;
}

.user-profile-profession-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1em;
}

.user-profile-profession-box {
  background: #bdff00;
  margin: 0.2em;
  padding: 0.3em;
}

#user-profile-title {
  font-size: 1em;
  font-weight: 600;
}

@media only screen and (min-width: 961px) {
  .user-profile-container {
    width: 40%;
    margin: 3em auto;
  }

  .user-profile-upper {
    grid-template-columns: 0.4fr 0.6fr;
  }
  .user-profile-upper-item h5 {
    font-size: 1.5em;
    margin: 0.1em;
  }
  .user-profile-mid p {
    text-align: left;
  }
  #user-profile-title {
    text-align: center;
    font-size: 1em;
  }
  .user-profile-visualization img {
    width: 4.5em;
    margin-bottom: 0.5em;
  }
  .user-profile-visualization h4,
  .user-profile-visualization h6,
  .user-profile-visualization p {
    line-height: 1em;
    margin: 0.3em 0;
    text-align: center;
  }
  .user-profile-vertical-line {
    margin-left: 0 auto;
  }
  .user-profile-visualization {
    margin: 0 auto;
    width: 40%;
    margin-bottom: 1.5em;
  }
  .user-profile-profession-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 50%;
  }
  .user-profile-professions h3 {
    text-align: center;
  }
  .user-profile-profession-box {
    background: #bdff00;
    margin: 0.5em;
    padding: 0.4em;
  }
  .user-profile-visualization h4 {
    font-size: 1.2em;
  }
  .user-profile-profession-container {
    margin: 0 auto;
    width: 40%;
  }
}
