a {
  text-decoration: none;
  color: black;
}

.upper-home {
  background-color: #e0e0e0;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-bottom: 3em;
}

#red-bg {
  background-color: #ff9292;
  padding: 0em 0.2em;
}

.upper-home h1 {
  padding: 1em 0.5em;
  text-align: left;
  margin: 0;
}

.home-job-search {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.8fr 0.15fr;
  gap: 0;
  grid-auto-rows: 1fr;
  align-items: center;
  justify-content: space-around;
}

.home-inputs {
  display: grid;
  grid-template-columns: 55% auto;
  gap: 0.5em;
  background-color: #ffffff;
  padding: 0.4em 0.4em;
  border-radius: 20px;
  grid-row: auto;
}

.search-by-title,
.search-by-location {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  padding: 0.15em 0.4em;
  border-radius: 20px;
}

.search-by-title input,
.search-by-location input {
  width: 70%;
  border: 0;
  background-color: #f2f2f2;
}

.search-by-title img,
.search-by-location img {
  max-width: 1.4em;
  min-width: 1.4em;
}

.home-search {
  width: 100%;
  height: 80%;
  display: flex;
}

.home-search button {
  background-color: #7583ff;
  border: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  font-size: 0.55em;
  font-family: "Open Sans", sans-serif;
}

textarea:focus,
input:focus {
  outline: none;
}

.category-squares {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  margin: 0em 1em;
}

.category-choose-home {
  margin: 2em 0em;
}

.category-choose-home h1 {
  text-align: center;
}

.category-square {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 20px;
  align-items: center;
  font-size: 0.8em;
  padding: 1em;
  gap: 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.category-square img {
  max-width: 2em;
  min-width: 2em;
  max-height: 2em;
  min-height: 2em;
}

#see-much-more {
  background: #cdcdcd;
}

.latest-jobs-item-home {
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  grid-row: auto;
  align-items: center;
  justify-content: space-between;
  border: 0.1px solid #949494;
  background-color: white;
  margin: 0em 0.8em;
}

.comp-details-home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comp-details-home p {
  font-size: 0.6em;
  color: #989898;
  margin-top: 0.2em;
}
.comp-details-home img {
  max-width: 2em;
  min-width: 2em;
  max-height: 1.5em;
  min-height: 1.5em;
  padding-top: 0.1em;
}

.job-details-home {
  display: flex;
  flex-direction: column;
}

.job-details-home h1 {
  font-size: 0.8em;
  line-height: normal;
  margin: 0;
  text-align: left;
}

.job-details-home p {
  font-size: 0.7em;
  text-align: left;
  margin: 0;
  margin-top: 0.2em;
}

#see-more-last-item-home {
  filter: blur(3px);
}
.blur-the-last-home {
  margin: -2.85em;
}
.blur-the-last-home button {
  font-size: 1.3em;
  background: #7583ff;
  border: none;
  border-radius: 16px;
  padding: 0.3em 0.8em;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  margin: auto;
}
.blur-the-last-home button a {
  color: white;
  font-size: 0.7em;
  font-family: "Open Sans", sans-serif;
}
