.navbar-container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0.2em 1em;
}

.navbar-item {
  padding: 0.8em 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#burger-menu {
  font-size: 2.5em;
}

#logo {
  font-family: "Fascinate", cursive;
  color: #7000ff;
  font-size: 2em;
  line-height: 0em;
  text-decoration: none;
  cursor: pointer;
}

.sidebar-container-active {
  display: flex;
  position: absolute;
  background-color: white;
  flex-direction: column;
  height: 150%;
  width: 60%;
  right: 0;
  top: 0;
  transition: 650ms;
  z-index: 99;
}

.sidebar-container {
  display: flex;
  position: absolute;
  background-color: white;
  height: 100%;
  flex-direction: column;
  width: 60%;
  top: 0;
  right: -100%;
  padding-top: 0em;
  transition: 650ms;
  z-index: 99;
}

.sidebar-item {
  margin-top: 2em;
}
.sidebar-first-item {
  margin-top: 5em;
}

#sidebar-logo {
  font-family: "Fascinate", cursive;
  color: #7000ff;
  font-size: 2em;
  line-height: 0em;
  text-decoration: none;
}

.menu-item {
  margin: 2em 1.6em;
  display: grid;
  align-items: center;
  grid-auto-columns: 0.5fr 1fr;
  grid-auto-flow: column;
  font-size: 1em;
  text-align: left;
}

.menu-item img {
  width: 1.5em;
}

.menu-item a {
  text-decoration: none;
  color: black;
}
#help {
  color: #7000ff;
  text-decoration: none;
}

.desktop-navbar-list{
  display: none;
}

@media only screen and (min-width: 1024px) {
  #burger-menu{
    display: none;
  }
  .desktop-navbar-list{
    display: flex;
  }
  .desktop-navbar-list a{
    text-decoration: none;
    color: black;
    margin: 0em 1em;
  }
  .desktop-navbar-list img{
    padding-right: 0.3em;
  }
  #logo{
    font-size: 3em;
  }
  .sidebar-container{
    display: hidden;
  }
  .sidebar-container-active{
    display: hidden;
  }
}